[submodule "induction-data"]
        path = data/induction
        url = git@github.com:transport-intelligence/induction-data.git
[submodule "induction-cpp"]
	path = src/induction
	url = git@github.com:transport-intelligence/induction-cpp.git
